h1 {
    font-weight: 650;
    color: dodgerblue;
    text-align: center;
    font-size: 40px;
}

.c1 {
    background-color: goldenrod;
    height: 100px;
    width: 110px;
    align-self: auto;
}

.c2 {
    background-color: goldenrod ;
    height: 100px;
    width: 110px;
    align-self: auto;
}

.c3 {
    background-color: goldenrod;
    height: 100px;
    width: 110px;
    align-self: auto;
}

body {
    background-color: lightseagreen ;
}

div {
    display: inline-block;
    margin: 30px 0 40px 0;
}

.jQuestions {
    font-size: 35px;
}

